<div class="row">
  <div class="small-12 columns">
    <p id="notice"><%= notice %></p>

    <h1>Listing Events for agent <%= @agent.hostname %></h1>
    <%= link_to 'New Event', new_agent_event_path(@agent), class: 'button' %>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Data</th>
          <th>Created At</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td>
              <% event.data.each do |key, value| %>
                <%= key %>: <%= value %>
              <% end %>
            </td>
            <td><%= event.created_at %></td>
            <td><%= link_to 'Destroy', [@agent, event], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="small-12 columns">
    <h2>Events per minute</h2>
    <%= line_chart @agent.events.group_by_minute(:created_at).count %>
  </div>

  <div class="small-12 columns">
    <h2>Events by category</h2>
    <%= pie_chart @agent.events.group(:name).count %>
  </div>
</div>
