<div class="row">
  <div class="small-12 columns">
    <p id="notice"><%= notice %></p>

    <h1>Listing Events for agent <%= @agent.hostname %></h1>
    <%= link_to 'New Event', new_agent_event_path(@agent), class: 'button' %>
    <%= link_to "refresh", params, id: 'refresh_page_link', style: 'display:none;' %>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Data</th>
          <th width="210">Created At</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.type %></td>
            <td>
              <ul>
              <% event.data.each do |key, value| %>
                <% if key == "fingerprint" %>
                  <li><%= key %>: <%= link_to value, disposition_path(id: value) %></li>
                <% else %>
                <li><%= key %>: <%= value %></li>
                <% end %>
              <% end %>
              </ul>
            </td>
            <td><%= event.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="small-12 columns">
    <h2>Events per minute</h2>
    <%= line_chart @agent.events.group_by_minute(:created_at).count %>
  </div>

  <div class="small-12 columns">
    <h2>Events by category</h2>
    <%= pie_chart @agent.events.group(:type).count %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
$(function(){
  //new window.EventsFeed().start(1000, '#refresh_page_link');
});
</script>
