<div class="row">
  <div class="small-12 columns">
    <p id="notice"><%= notice %></p>

    <p>
    <strong>Fingerprint:</strong>
    <%= @disposition.fingerprint %>
    </p>

    <p>
    <strong>State:</strong>
    <%= @disposition.state %>
    </p>

    <%= link_to 'Edit', edit_disposition_path(@disposition) %> |
    <%= link_to 'Back', dispositions_path %>
  </div>

  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>Report</th>
          <th width="210">Created At</th>
        </tr>
      </thead>
      <tbody>
        <% @disposition.file_reports.each do |report| %>
        <tr>
          <td><%= report.data  %></td>
          <td><%= report.created_at  %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
